.custom-list{
    height: 80vh !important;
    overflow: auto;
}

.custom-favorite-list{
    max-height: 31vh !important;
    overflow: auto;
}

.navigation-header{
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.navigation-header>.back-arrow-icon{
    top: 3rem;
    left: 3rem;
    border: none !important;
    background-color: transparent !important;
}

.navigation-header>.home-icon{
    top: 6rem;
    left: 6rem;
}

.navigation-header>.note-icon{
    top: 9rem;
    left: 9rem;
}

.back-arrow{
    height: 50px;
    width: 50px;
    fill: white;
}

.back-arrow-text{
    font-size: 24px;
    color: white;
}

.home-icon-svg{
    height: 50px;
    width: 50px;
}

.home-icon-text{
    font-size: 24px;
    color: white;
}

.note-icon-svg{
    height: 50px;
    width: 50px;
}

.note-icon-text{
    font-size: 24px;
    color: white;
}


.delete-note-link{
    font-size: 12px;
    color: tomato;
}

.delete-note-link:hover{
    color: red;
}